.card-class .content{
    padding: 10px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-class .content p{
    margin: 0;
}

.card-class .content img{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    margin-right: 10px;
}

.banner-class{
    position: relative;
    animation: all 5s;
}

.banner-class img{
    height: 164px;
    object-fit: cover;
    filter: brightness(0.5);
}

.banner-class:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.class-title{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    cursor: pointer;
}